extends layout
block content
    h1 Invite Your Followers
    p #{loadedFollowerCount} followers mined out of #{totalFollowerCount}
    form(action="/profile/followers", method="post")
        input(type="submit", value="Refresh")

    br
    h2 Top followers
    form(action="/profile/followers/invitations", method="post")
        input(type="submit", value="Invite top 1000 un-invited followers")
    br
    table(class="table")
        tr
            th Username
            th Loyalty Score
            th Invite Status
        for follower in followers
            tr
                td #{follower.username}
                td #{follower.score}
                td #{follower.invited?"Invited":"Not Invited"}
    p #[a(href=`/profile/followers?cursor=${previousCursor}`) &lt; Previous] &nbsp; &nbsp; #[a(href=`/profile/followers?cursor=${nextCursor}`) Next &gt;]